<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
  <style>
    th, td{
      padding: 5px;
    }
    td span{
      font-size: 90%;
      font-style: italic;
      color:red;
    }
    .error{
      color:red;
      font-style: italic;
    }
  </style>
</head>
<body>
<div align="center">
  <h1>Добавить нового пользователя</h1>
</div>

<br/>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/admin/save}" th:object="${appUserForm}" method="post">
    <table>
        <tr>
            <td>Имя:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">..</span>
            </td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/></td>
            <td>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li th:each="role : ${roles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.getId()}">
                        <label th:text="${role.getName()}"></label>
                    </li>
                </ul>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">..</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit"/>Сохранить</td>
        </tr>
    </table>
</form>

</body>
</html>